<h1>Welcome to Q&A for Developers!</h1>

<p>Here in this forum, developers from various levels come together to solve tricky problems</p>
<p>OR</p>
<p>Have any general questions about programming!</p>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

<!-- <ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.content}} - {{answer.author}}</li>
  {{/each}}
</ul>

{{new-answer saveAnswer="saveAnswer"}} -->

{{new-question saveQuestion2="saveQuestion3"}}
